<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://121.40.141.2:3306/jhdb?useUicode=true&amp;charactorEncoding=utf-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="JianhaoDB@365"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/jhms/entity/TChanpins.hbm.xml</value>
				<value>com/jhms/entity/TQuestions.hbm.xml</value>
				<value>com/jhms/entity/TSolutions.hbm.xml</value>
				<value>com/jhms/entity/TAdvice.hbm.xml</value>
				<value>com/jhms/entity/TPhysiques.hbm.xml</value>
				<value>com/jhms/entity/TZhanshis.hbm.xml</value>
				<value>com/jhms/entity/Dianji.hbm.xml</value>
				<value>com/jhms/entity/TAdmin.hbm.xml</value>
				<value>com/jhms/entity/TChecks.hbm.xml</value>
				<value>com/jhms/entity/TDemands.hbm.xml</value>
				<value>com/jhms/entity/TJianchis.hbm.xml</value>
				<value>com/jhms/entity/TShiyongs.hbm.xml</value>
				<value>com/jhms/entity/TPingluns.hbm.xml</value>
				<value>com/jhms/entity/TJianchitypes.hbm.xml</value>
				<value>com/jhms/entity/THuanjiepilaos.hbm.xml</value>
				<value>com/jhms/entity/TDenglus.hbm.xml</value>
				<value>com/jhms/entity/TUsers.hbm.xml</value>
			</list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- dao层 -->
	<bean id="zhanshiDao" class="com.jhms.dao.zhanshi.ZhanshiDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="adviceDao" class="com.jhms.dao.advice.AdviceDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="chanpinDao" class="com.jhms.dao.chanpin.ChanpinDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="shiyongDao" class="com.jhms.dao.shiyong.ShiyongDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="adminDao" class="com.jhms.dao.admin.AdminDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="dengluDao" class="com.jhms.dao.denglu.DengluDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="questionDao" class="com.jhms.dao.question.TQuestionsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="physiqueDao" class="com.jhms.dao.physique.PhysiqueDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jianchiDao" class="com.jhms.dao.jianchi.JianchiDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="dianjiDao" class="com.jhms.dao.dianji.DianjiDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="pinglunDao" class="com.jhms.dao.pinglun.PinglunDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="userDao" class="com.jhms.dao.user.UserDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="huanjiepilaoDao"
		class="com.jhms.dao.huanjie.HuanjiepilaoDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="solutionDao" class="com.jhms.dao.solution.SolutionDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="checkDao" class="com.jhms.dao.check.CheckDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="jianchitypeDao" class="com.jhms.dao.jianchitype.JianchitypeDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="demandDao" class="com.jhms.dao.demand.DemandDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- service层 -->
	<bean id="adminService" class="com.jhms.service.admin.AdminService">
		<property name="adminDao">
			<ref bean="adminDao" />
		</property>
	</bean>
	<bean id="userService" class="com.jhms.service.user.UserService">
		<property name="userDao">
			<ref bean="userDao" />
		</property>
	</bean>
	<bean id="dengluService" class="com.jhms.service.denglu.DengluService">
		<property name="dengluDao">
			<ref bean="dengluDao" />
		</property>
	</bean>
	<!-- action层 -->
	<bean id="adminAction" class="com.jhms.action.admin.AdminAction">
		<property name="adminService">
			<ref bean="adminService" />
		</property>
	</bean>
	<bean id="userAction" class="com.jhms.action.user.UserAction">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	<bean id="dengluAction" class="com.jhms.action.denglu.DengluAction">
		<property name="dengluService">
			<ref bean="dengluService" />
		</property>
	</bean>
</beans>